.rankpost1 {
  width: 100%;
  height: 220px;
  border: 2px solid #ffb600;
  overflow: hidden;
  position: relative;
  margin-left: -1px;
  margin-top: -1px;
  margin-bottom: 10px;
  display: flex;
}
.rankpost2 {
  width: 100%;
  height: 220px;
  border: 2px solid #c4c4c4;
  overflow: hidden;
  position: relative;
  margin-left: -1px;
  margin-top: -1px;
  margin-bottom: 10px;
  display: flex;
}
.rankpost3 {
  width: 100%;
  height: 220px;
  border: 2px solid #bb9a51;
  overflow: hidden;
  position: relative;
  margin-left: -1px;
  margin-top: -1px;
  margin-bottom: 10px;
  display: flex;
}
.rank-badge1 {
  position: absolute;
  top: 15px;
  left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(
    45deg,
    #fff7d7,
    #ffefa2,
    #ffed75,
    #ffe847,
    #ffdd1a,
    #ffd600,
    #ffca00,
    #ffc000,
    #ffb600,
    #ffa800
  );
  padding: 2px 6px;
  border-radius: 4px;
}
.rank-badge2 {
  position: absolute;
  top: 15px;
  left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(
    45deg,
    #e5e5e5,
    #d1d1d1,
    #bdbdbd,
    #a9a9a9,
    #959595,
    #818181,
    #6d6d6d,
    #595959,
    #454545,
    #313131
  );
  padding: 2px 6px;
  border-radius: 4px;
}
.rank-badge3 {
  position: absolute;
  top: 15px;
  left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(
    45deg,
    #d1b16c,
    #d2b36e,
    #d3b670,
    #d4b872,
    #d5ba74,
    #d6bc76,
    #d7be78,
    #d8c07a,
    #d9c27c,
    #dac47e
  );
  padding: 2px 6px;
  border-radius: 4px;
}

.rankpost-info {
  width: 50%;
  height: 170px;
  position: relative;
  margin: 20px 0 30px 40px;
}
.rank-reason1 {
  width: 50%;
  height: 170px;
  position: relative;
  margin: 25px 30px 25px 0;
}
.rank-reason1::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 70px;
  height: 130%;
  width: 0;
  border-left: 2px solid #ffb600;
  transform: skewX(-30deg);
  transition: all 0.4s ease;
}
.rank-reason1:hover::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -70px;
  height: 130%;
  width: 0;
  border-left: 2px solid #ffb600;
  transform: skewX(-30deg);
}
.rank-reason2 {
  width: 50%;
  height: 170px;
  position: relative;
  margin: 25px 30px 25px 0;
}
.rank-reason2::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 70px;
  height: 130%;
  width: 0;
  border-left: 2px solid #c4c4c4;
  transform: skewX(-30deg);
  transition: all 0.4s ease;
}
.rank-reason2:hover::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -70px;
  height: 130%;
  width: 0;
  border-left: 2px solid #c4c4c4;
  transform: skewX(-30deg);
}
.rank-reason3 {
  width: 50%;
  height: 170px;
  position: relative;
  margin: 25px 30px 25px 0;
}
.rank-reason3::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 70px;
  height: 130%;
  width: 0;
  border-left: 2px solid #bb9a51;
  transform: skewX(-30deg);
  transition: all 0.4s ease;
}
.rank-reason3:hover::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -70px;
  height: 130%;
  width: 0;
  border-left: 2px solid #bb9a51;
  transform: skewX(-30deg);
}
.reason-text {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: gray;
  /* padding: 5px; */
  left: 170px;
  opacity: 0.5;
  letter-spacing: 2px;
  filter: blur(5px);
  transition: opacity 0.5s ease, left 0.4s ease, filter 0.4s ease;
}
.reason-text strong {
  background-color: rgb(248, 223, 183);
  /* border-radius: 4px;
  padding: 2px; */
}
.reason-text:nth-child(1) {
  top: 10px;
}
.reason-text:nth-child(2) {
  top: 23px;
}
.reason-text:nth-child(3) {
  top: 36px;
}
.reason-text:nth-child(4) {
  top: 49px;
}
.reason-text:nth-child(5) {
  top: 62px;
}
.reason-text:nth-child(6) {
  top: 75px;
}

.rank-reason1:hover .reason-text {
  left: 100px;
  filter: blur(0);
  opacity: 1;
}
.rank-reason2:hover .reason-text {
  left: 100px;
  filter: blur(0);
  opacity: 1;
}
.rank-reason3:hover .reason-text {
  left: 100px;
  filter: blur(0);
  opacity: 1;
}

.rankpost-link {
  position: absolute;
  top: 80%;
  left: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}
.rankpost-link:hover {
  background-color: #f3f5f7;
}
.rankpost h2 {
  font-size: 16px;
  font-weight: 500;
}
/* .rankpost p {
  font-size: 12px;
} */
.rankpost-info .name {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  overflow: hidden;
}
.rankpost-info .title {
  font-size: 16px;
  letter-spacing: normal;
  color: #272727;
  height: 48px;
  overflow: hidden;
  margin-top: 15px;
}
.rankpost-info .location {
  font-size: 12px;
}
.rankpost-info .date {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  overflow: hidden;
  margin-top: 45px;
}
