main {
  width: 100%;
  height: cal(100vh-70px);
  margin-top: 70px;
}

.main-box {
  width: 100%;
  height: 650px;
  background-color: #f3f5f7;

  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
}

.main-start {
  width: 1100px;

  position: relative;
  padding-top: 150px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
}

/* left */
.start-left {
  width: 500px;
  margin-top: 50px;
}
.start-left dt {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 16px;
}
.start-left dd {
  font: 20px;
  font-weight: 400;
  margin-bottom: 31px;
}

.start-left button {
  width: 100px;
  height: 50px;
  padding: 5px;
  /* margin-top: 50px; */

  font-size: 15px;
  cursor: pointer;

  border: 1px solid #1866d2;
  background-color: #1866d2;
  border-radius: 4px;
  color: white;
}

/* right */
.start-right {
  width: 500px;
  height: 300px;
  /* margin-top: 50px; */
  /* align-self: flex-end; */
  margin-left: 100px;
  background-color: white;
  border-radius: 20px;
}

.start-bottom-profil {
  width: auto;
  padding: 12px 20px;
  border-radius: 8px;
  position: absolute;
  bottom: -200px;
  font-size: 14px;

  background-color: white;
}
.start-bottom-profil a {
  color: #1866d2;
}
.start-bottom-profil p + p {
  margin-top: 8px;
}

/* mid */
.mid-container {
  width: 1100px;
  margin: 100px auto;
}
.mid-container h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}

/* popular */

.popular-post-wrapper {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
