.posting-wrapper {
  margin: 120px auto 16px;
  max-width: 1040px;
  margin-bottom: 100px;
}
.posting-wrapper h1 {
  font-size: 40px;
  line-height: 72px;
  font-weight: bold;
}

.post-wrapper {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.page-Btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-Btn button {
  /* border: 1px solid gray; */
  border: 0;
  /* background-color: #cfdcee; */
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.page-Btn button:hover {
  background-color: #cfdcee;
}
