.join-box {
  width: 492px;
  margin: 0 auto;
  position: relative;
}

/* header */
.join-header {
  min-width: 492px;
  padding-top: 120px;
  text-align: center;
}
.join-title {
  display: inline-block;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.join-title .joinTitleMain {
  text-decoration: none;
  color: black;
}

/* content */

.content-box {
  position: relative;
  width: 492px;
  margin-top: 48px;
}
.content-box .item {
  margin-top: 24px;
  position: relative;
}
.content-box label {
  cursor: pointer;
}
.content-box label strong {
  font-size: 16px;
  font-weight: 600;
  color: #373f57;
  margin-bottom: 12px;
  display: inline-block;
}
.content-box .item input {
  width: 100%;
  height: 56px;
  font-size: 14px;
  font-weight: 500;
  padding: 18px 12px;
  border: 1px solid #e5e8eb;
  background-color: #fff;
}
.join-btn {
  background-color: #a8a8a8;
  color: white;
  border: 0;
  width: 100%;
  height: 56px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 50px;
  transition: all 0.15s linear;

  cursor: pointer;
}
.join-btn:hover {
  background-color: #1866d2;
}
