.select-back {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f3f5f7;
}
.select-box {
  width: 1100px;
  height: 500px;
  margin: auto;
  /* padding: 100px; */

  display: flex;
  justify-content: space-around;
  align-items: center;

  /* background-color: white; */
}
.select-box .select-Btn {
  width: 400px;
  height: 400px;
  background-color: white;
}
